body {
  margin: 0;
  font-family: 'Lato', 'Arial', sans-serif, 'Playfair Display', 'Times New Roman', Times, serif;
  font-size: .8125rem;
  font-weight: 400;
  line-height: 1.5385;
  color: #333;
  text-align: left;
  background-color: #f5f5f5;
}
